# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# Build output
/bin/
/build/
/dist/

# Go test
*.test
*.prof
coverage.out

# Go workspace
go.work
go.work.sum

# Vendor (если не используешь vendoring)
vendor/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log